fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-groq
langchain-core
langchain-huggingface
langchain-experimental
langchain-classic
sentence-transformers
faiss-cpu
rank-bm25
pypdf
ragas
python-dotenv
groq